ul{
  list-style: none;
}

li img{
    height: 200px;
  
}
p{
  font-size: 1.5em;
}
myDiv{
    justify-content: center;
    width: 100%;
}
td {
  width:250px; 
  height:250px; 
  background-color: white;
  text-align:center; 
  vertical-align:middle";
}
body{
  background-color: #2f302f;
}