ul{
  list-style: none;
}
li{
    display: inline-flex;
}

li img{
    height: 200px;
  
}
p{
  font-size: 1.5em;
}
myDiv{
    text-align: center;
    margin: auto;
    height: auto;
    width: auto;
}
td {
  width:250px; 
  height:250px; 
  text-align:center; 
  vertical-align:middle";
}
body{
  background-color: #2f302f;
}
@media only screen and (max-width: 800px){
    h1{
        font-size: 20px;
    }
}
@media only screen and (min-width: 800px){
    h1{
        font-size: 28px;
    }
}
h1{
    text-align: left;
    color:#20b97f;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}