@media only screen and (max-width: 800px){
    #divMenuButton{
        float: left;
        position: sticky;
        height: 10%;
        width:  10%;
    }
    nav{
        width: 30%;
        height: 100%;
        font-size: 20px;
        position: absolute;
    }
    #menu {
      display: none;
    }
    header{
        width: 90%;
        height: 10%;
        font-size: 28px;
    }
    #hideBtn{
        float: right;
        width: 25%;
        height: 10%
    }
    article{
        width: 100%;
        height: 80%;
    }    
    footer{
        width: 100%;
        height: 10%;
    }   
}
@media only screen and (min-width: 800px){
    #divMenuButton{
        display: none;
    }
    nav{
        display: block;
        width: 30%;
        height: 60%;
        font-size: 26px;
        position: sticky;
        
    }
    #menu{
        display: block;
    }
    #hideBtn{
        display: none;
    }
    header{
        width: 70%;
        height: 10%;
        font-size: 32px;
    }
    article{
        width: 70%;
        height: 80%;
    }
    footer{
        width: 70%;
        height: 10%;
        font-size: 20px;
    }

}
body{
        width: 100%;
        height: 100%;
    }
#showBtn{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
#showBtn:active{
    background-color: aquamarine;
}
header{
    float: right;
    position: relative;
    background-color: antiquewhite;
    text-align: center;
}
nav{
    float: left;
    background-color: aquamarine;
}
#erasmus:hover ul{
    display: block;
}
#erasmusAdditional{
    display: none;
}
#advices:hover ul{
    display: block;
}
#advicesAdditional{
    display: none;
}
article{
    float: left;
    background-color: coral;
}
h1, h2{
    text-align: center;
    text-decoration: underline;
}
iframe{
    width: 100%;
    height: 100%;
}
footer{
    float: right;
    position: sticky;
    background-color: antiquewhite;
    text-align: center;
}